html,
body {
  margin: 0;
  height: 100%;
}

#map, #main {
  width: 100%;
  height: 100vh;
}

#example {
  width: 50%;
}

#text {
  width: 40vw;
  height: 100vh;
  overflow: scroll;
}

.menu {
  width: 12rem;
  height: 100vh;
}