name: Node.js CI

on:
  push:
    branches: [ 'main' ]
  pull_request:
    branches: [ 'main' ]

jobs:
  test:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [24.x]
        ol-version: 
          - 10.0.0
          - 10.1.0
          - 10.2.0
          - 10.3.0
          - 10.3.1
          - 10.4.0
          - 10.5.0
          - 10.6.0
          - 10.7.0

    steps:
    - uses: actions/checkout@v6
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v6
      with:
        node-version: ${{ matrix.node-version }}
    - run: npm ci
    - run: npm i ol@${{ matrix.ol-version }}
    - run: npm run lint
    - run: npm run build
    - run: npm test

  codecov:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [24.x]
        ol-version: [10.7.0]

    steps:
    - uses: actions/checkout@v6
    - name: Use Node.js 24.x
      uses: actions/setup-node@v6
      with:
        node-version: 24.x
    - run: npm ci
    - run: npm run build
    - run: npm run c8
    - run: npm run lcov
    - name: Upload coverage reports to Codecov
      uses: codecov/codecov-action@v5
      env:
        CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
